<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading">Contacts</div>
    <div class="panel-body">
      <form class="navbar-form navbar-left" role="search" #f="ngForm"  (ngSubmit)="onSearche(f.value)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nom pour chercher" name="keyWord" ngModel required [(ngModel)]="currentKeyWord">
          </div>
          <button type="submit" class="btn btn-default" [disabled]="!f.valid">Chercher</button>
      </form>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Email</th>
            <th scope="col">Tel</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ct of contactsPage?.content; let idx = index">
            <th scope="row">{{idx+1}}</th>
            <td>{{ct.id}}</td>
            <td>{{ct.nom}}</td>
            <td>{{ct.prenom}}</td>
            <td>
              <span class="badge">{{ct.dateDeNaissance|date: 'dd/MM/yyyy'}}</span>
            </td>
            <td>{{ct.email}}</td>
            <td>{{ct.tel}}</td>
            <td>
              <span class="glyphicon glyphicon-pencil clickable" (click)="onEditContact(ct.id)" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-trash clickable" (click)="onDeleteContact(ct)" aria-hidden="true"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li [ngClass]="{ 'active' :currentPage==i}" *ngFor="let page of pages; let i=index" class="clickable">
          <a (click)="goToPage(i)">{{i+1}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>